.country {
  fill: #DB8
}

.country.VEN {
  fill: #F66;
}

.country.ghost {
  fill: #CCC;
  fill-opacity: 0.3;
}

.border {
  stroke: #FFF;
  stroke-width: 1;
  fill: none;
  stroke-linejoin: round;
}

.ghost-border {
  stroke: #FFF;
  stroke-width: 1;
  fill: none;
  stroke-linejoin: round;
  stroke-dasharray: 2,2;
}
.city {
  stroke: #080;
  stroke-width: 2;
  fill: none;
}

.country-label {
}

.root {
  stroke-width: 0px;
  background-color: #CFF;
}
